.footer{
    display: flex;
    text-align: center;
    padding: 0 25%;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
    background-color: #176B87;
    color: #EEEEEE;
}
.section1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.div1, .div2, .div3, .div4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 200px;
}

.footer h1{
    text-align: left;
    font-size: 22px;
}

.footer h3{
    font-size: 13px;
    color: #EEEEEE;
}

.ikony{
    display: flex;
    gap: 10px;
    color: #EEEEEE;
}


@media screen and (max-width: 670px){
    .footer{
        display: flex;
        text-align: center;
        text-align: center;
        width: 100%;
        flex-direction: column;
        height: 520px;
        justify-content: space-around;
        padding: 50px 0;
    }
    .section2{
        margin-bottom: 40px;
    }
    .section1{
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }
    .div1, .div2, .div3, .div4{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid black;
    }
    .div1 h1, .div2 h1, .div3 h1, .div4 h1{
        margin: 5px 0;
        text-align: center;
    }
    .div1 h3, .div2 h3, .div3 h3, .div4 h3{
        margin: 3px 0;
    }
}