@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.mensite{
    color: #EEEEEE;
    margin: 10px 0;
}
nav{
    font-size: 25px;
    margin: 0 auto;
    width: 60%;
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5D12D2;
    color: white;
}
.navbutton{
    background: none;
    color: #EEEEEE;
    padding: 12px 26px;
    margin-top: 0;
}
.navbutton:hover{
    background-color: rgba(0, 0, 0, 0.658);
}

@media screen and (max-width: 1000px){

    nav{
        padding: 20px 0;
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }
    .mensite{
        margin: 0;
    }
    .navbutton{
       margin: 0;
    }
}

@media screen and (max-width: 600px){

    nav{
        padding: 0;
        padding: 10px 0;
        width: 100%;
        max-width: 590px;
        justify-content: space-around;
        align-items: center;
    }
    .mensite{
        font-size: 20px;
        margin-top: 0;
        color: white;
    }
    .navbutton{
        margin: 0;
        padding: 7px 10px;
        font-size: 13px;
    }

}