@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    font-size: 25px;
    margin: 0 auto;
    width: 60%;
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 1300px){

    nav{
        padding: 0;
        width: 80%;
        max-width: 1000px;
    }

}

@media screen and (max-width: 1000px){

    nav{
        padding: 0;
        width: 80%;
        max-width: 600px;
        justify-content: space-around;
    }

}

@media screen and (max-width: 600px){

    nav{
        padding: 0;
        width: 80%;
        max-width: 590px;
        justify-content: space-around;
        align-items: center;
    }
    .mensite{
        font-size: 20px;
    }
    .navbutton{
        margin: 0;
        font-size: 15px;
    }

}