.ase{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    min-width: 1000px;
    max-width: 1200px;
    gap: 20px;
    margin:  0 auto;
    margin-bottom: 300px;
    justify-content: space-around;
    row-gap: 40px;
    padding: 0;
}

@media screen and (max-width: 1300px){

    .ase{
        min-width: 900px;
        max-width: 1000px;
    }
    .products{
        min-width: 900px;
        max-width: 1000px;
        margin: 0 auto;
    }

}
@media screen and (max-width: 1000px){
    .ase{
        min-width: 600px;
        max-width: 700px;
    }
    .products{
        min-width: 600px;
        max-width: 700px;
    }

}

.title{
    display: flex;
    justify-content: center;
}
.item{
    width: 250px;
    max-width: 250px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 16px;
    border-radius: 7px;
    text-align: center;
    transition: 0.2s ease-in;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.item:hover{
   scale: 1.01;
}
.isix{
    width: 200px;
    margin: 0 auto;
}
.imga{
    width: 200px;
    height: 200px;
}
h2, h4{
    padding-left: 15px;
    text-align: left;
    font-weight: 200;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: left;
    padding-right: 0;
}
.price{
    color: rgb(92, 177, 8);
}
.buttona{
    border-radius: 7px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.233);
    cursor: pointer;
    margin-top: 5px;
    font-size: 15px;
    color: white;
}
.icon{
    color: white;
}
.buttona:hover{
    background-color: rgba(0, 0, 0, 0.479);
}
.buttona:focus .icon{
    animation: colorChange 1.5s linear forwards;
}
.buttona:focus{
    animation: chc .5s linear forwards;
}

@keyframes chc {
    0% {
        scale: 1;
    }
    30% {
        scale: 0.95;
    }
    100% {
        scale: 1;
    }
}
@keyframes colorChange {
    0% {
        color: white;
    }
    30% {
        color: chartreuse;
    }
    100% {
        color: white; 
    }
}


form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
input{
    height: 22px;
    font-size: 17px;
    width: 50px;
}
.icon{
    font-size: 15px;
    padding: 0 0 0 5px;
    color: white;
}

.sps{
    color: blue;
}

.before_show{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-400px);
    backdrop-filter: blur(3px);
    text-align: center;
}











@media screen and (max-width: 630px){
    .before_show{
        backdrop-filter: blur(0px);
    }
    .title{
       font-size: 35px;
       margin-bottom: 30px;
    }
    .ase{
        min-width: 200px;
        max-width: 700px;
        width: 90%;
        flex-wrap: wrap;
        gap: 10px;
    }
    .item{
        min-width: 260px;
        max-width: 470px;
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 8px 16px;
        border-radius: 7px;
        text-align: center;
    }
    .imga{
        min-width: 150px;
        width: 150px;
        height: 150px;
    }
    .buttona{
        min-width: 90px;
        margin-left: 10px;
        font-size: 10px;
    }
    .scc{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 70%;
    }
    .form{
        display: flex;
    }
    .icon{
        font-size: 10px;
    }
    .products{
        min-width: 200px;
        max-width: 700px;
    }

}


@media screen and (max-width: 570px){
    .fst h2{
        font-size: 18px;
    }
    .fst h4{
        font-size: 13px;
    }
    .before_show{
        transform: translateY(-350px);
    }
}


@media screen and (max-width: 470px){
    .scc{
        min-width: 50%;
    };
    .isix{
        width: auto;
        margin: 0 5px 0 0 ;
    }
    .imga{
        min-width: 120px;
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 380px){
    .fst h2{
        font-size: 15px;
    }
    .fst h4{
        font-size: 10px;
    }
    .before_show{
        transform: translateY(-350px);
    }
    .imga{
        min-width: 100px;
        width: 100px;
        height: 100px;
    }
}


@media screen and (max-width: 340px){
    .ase{
        min-width: 200px;
        max-width: 700px;
        width: 100vw;
        flex-wrap: wrap;
        gap: 10px;
    }
    .item{
        min-width: 200px;
        max-width: 470px;
        width: 90vw;
        width: 80%;
        padding: 8px 16px;
    }
    .imga{
        min-width: 80px;
        width: 80px;
        height: 80px;
    }
    .fst h2{
        font-size: 13px;
    }
    .fst h4{
        font-size: 10px;
    }
    .isix{
        width: 80px;
        margin: 0 auto;
    }
    .buttona{
        min-width: 90px;
        margin-left: 10px;
        font-size: 10px;
        padding: 5px 7px;
    }
}