@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    width: 1000px;
}
.first{
    width: 450px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    color: rgb(43, 42, 42);
}
h4{
    color: gray;
    font-size: 18px;
    font-weight: 300;
    padding-right: 60px;
}
img{
    width: 450px;
}

.third{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100px;
}
.follow{
    transform: rotate(90deg);
    padding-right: 20px;
}

.imageContainer {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    position: relative;
}

.imageContainer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    transform: translateY(-50px);
    background: linear-gradient(transparent, rgba(255, 255, 255, 0.568));
}